#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 1rem;
  text-align: center;

  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.form--container {
  flex-grow: 1;
}

/* .educationContainer {
  display: flex;
  flex-direction: column;
} */

.education--header {
  display: flex;
}

.education--experience {
  display: flex;
  flex-direction: column;
}
