#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 1rem;
  text-align: center;

  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.form--container {
  flex-grow: 1;
}

/* .educationContainer {
  display: flex;
  flex-direction: column;
} */

.education--header {
  display: flex;
}

.education--experience {
  display: flex;
  flex-direction: column;
}

input[type="color"] {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  box-shadow: 0px 7px 200px -47px rgba(0, 0, 0, 0.75);
  /* background-color: transparent; */
}

.colorPicker::-webkit-color-swatch {
  border-color: transparent;
  border-radius: 50%;
}

.printButton {
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: DodgerBlue;
}

.sideButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Hover */

.printButton:hover,
.colorPicker:hover {
  cursor: pointer;
}
