button {
  border: none;
  border-radius: 10px;
  transition: 0.3s ease-in;
}
.showBtn {
}

.toggle {
  background-color: transparent;
  padding: 0;
  border: 1px solid white;
}

.toggle img {
  display: flex;
  width: 1.2rem;
  background-color: transparent;
  padding: 1rem;

  border-radius: 10px;
  filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(69deg)
    brightness(126%) contrast(99%);
}

.add {
  align-self: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.6rem 0.9rem;
  border: 1px solid white;
  background-color: transparent;
}

.cancel,
.delete,
.save {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid white;
  background-color: transparent;
}
.cancel {
  background-color: transparent;
}

.delete {
  background-color: red;
}

.save {
  background-color: rgb(74, 181, 252);

  color: white;
}

.loadButton {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: transparent;
  border: 1px solid white;
}

.clearButton {
  background-color: red;
}
/* Hovers */

.add:hover,
.toggle:hover,
.save:hover,
.cancel:hover,
.education--display--place:hover,
.trash:hover,
.loadButton:hover,
.delete:hover {
  cursor: pointer;
  background-color: #989898;
}

.displaySkill:hover {
  cursor: default;
}
