/* button.button {
  height: auto;
  background-color: red;
} */

button {
  /* background-color: red; */
  /* padding: 0; */
  border: none;
  border-radius: 10px;
  /* background-color: white; */
}
.showBtn {
}

.toggle {
  background-color: none;
  padding: 0;
}

.toggle img {
  display: flex;
  width: 1.2rem;
  /* color: white; */
  background-color: transparent;
  padding: 1rem;

  border-radius: 10px;
}

.add {
  align-self: center;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.6rem 0.9rem;
  border: 1px solid white;
  background-color: transparent;
}

.cancel,
.delete,
.save {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid white;
  background-color: transparent;
}
.cancel {
  background-color: transparent;
}

.delete {
  background-color: red;
}

.save {
  background-color: rgb(74, 181, 252);
  color: white;
}

/* Hovers */

.add:hover,
.toggle:hover,
.save:hover,
.cancel:hover,
.education--display--place:hover,
.trash:hover {
  cursor: pointer;
}

.displaySkill:hover {
  cursor: default;
}
