.educationContainer {
  border: 1px solid white;
  border-radius: 10px;
  margin: 1.5rem 0;
  padding: 1rem;
}

.education--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.editButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  gap: 2rem;

  padding: 1rem 0;
}

.mainButtons {
  display: flex;

  gap: 0.5rem;
}

.displayContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;

  margin-bottom: 1rem;
}

.form--experience {
  margin-bottom: 1rem;
}
.education--display--place {
  font-size: 1.1rem;
  padding: 0.8rem;
  text-align: left;
  background-color: transparent;
  border: 1px solid white;
}

@media print {
  @page {
    size: A4;
    /* size: letter; */
    margin: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
    visibility: hidden;
  }

  .cv--main {
    margin: 0;
    visibility: visible;
    position: absolute;

    top: 0;

    bottom: 0;
  }

  .form--container,
  .colorPicker,
  .printButton,
  .loadButton,
  .clearButton {
    display: none;
  }
}

/* Transitions */
